
/* google font import */
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

#header {
  background-position: top, bottom;
  background-repeat: repeat-x;
  background-size: 35px;
  margin-bottom: 40px;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}


/* tag selectors */
body {
  background-image: url(galaxy.jpg);
  background-size: cover;
  margin: 0;
  background-color: #abc6d4;
}

h1 {
font-size: 4em;
font-family: 'Space Mono', monospace;
color: white;
}

p{
  font-size: 1.5em;
  font-family: 'Space Mono', monospace;
  color: white;
}

h2{
  font-family: 'Space Mono', monospace;
  color: white;
}

h3{
  font-family: 'Space Mono', monospace;
  color: darkblue;
}



/* button */

.btn-white {
  background-color: white;
  border: 3px solid #BB0;
  border-radius: 5px;
  color: #DA0;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: 'Space Mono', monospace;
  padding: 0 10px 2px 10px;
  transition: baclground-color 0.5s;
  transition: color 0.5s;

}

.btn-white:hover {
  color: #FF0;
  background-color: #DA0;
  text-decoration: none;
  transition: background-color 0.5s;
  transition: color 0.5s;
}



/* results */
.results {
  font-family: 'Space Mono', monospace;
  font-color: blue;

}
