<html>

<head>


  <meta charset="utf-8">
  <title> Star Wars Movie Order </title>
  <meta name="description" content="What order should you watch the Star Wars movies in?" />
  <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-
  fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}">

</head>

<body>
  <div id="header">
    <ul class="questions">
      {% for question in questions %}
      <ol> {{ question[0] }} </ol>
      {{ question[1] }} {{ question[2] }} {{ question[3] }}
      <ol> {{ question[4] }} </ol>
      {{ question[5] }} {{ question [6] }} {{ question [7] }}
      <ol> {{ question[8] }} </ol>
      {{ question[9] }} {{ question[10] }} {{ question[11] }}
      {% endfor %}
      </ul>

    <h3> Click below to find the order you should watch the Star Wars movies in </h3>
      <a class="btn-white" href="result.html"> Show me the order </a>
    </div>

</body>

</html>
